
body{
	background-color:#00cc66;
	font-family: "Lucida Console", Monaco, monospace
	
}




.grid-container {
  display: grid-rows;
  display: grid-columns;
  justify-content: auto;
  align-items: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px auto 50px;
  grid-gap: 5px;
  border: 5px solid #00994d;
  border-radius: 5px
  
  
}
.grid-container >div {
	border: 3px solid #00994d;
	border-radius:5px;
	background-color:#669900
}
.item1{
	grid-row: 100%;
	
}